@import "tailwindcss";

:root {
  --box-shadow: 0.4375rem 0.25rem 1.6938rem #0000000a;
  --gradient-border: linear-gradient(to bottom right, #ffffff, #ffffff00);
}
/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  /* margin: 0;
	padding: 0; */
  box-sizing: border-box;
}

html {
  font-size: 1.111vw;
  overflow-x: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  width: 90rem;
  height: fit-content;
  background: linear-gradient(90deg, #00011a, #0f0f0f);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.H1 {
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 97%;
}

.lineNav {
  position: absolute;
  top: 2.625rem;
  left: -8.4375rem;
  width: 100%;
  height: 0.0625rem;
  background-color: #ffffff26;
}
.line {
  width: 100%;
  height: 0.0625rem;
  background-color: #ffffff17;
}

.page-name{
  font-size: 1.75rem;
  margin: 1.5rem 0 1.5rem 8.4375rem;
}

.mine-p{
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5em;
  color: #FFFFFFCC;

  b{
    font-weight: 700;
  }
}

.mine-ol{
  list-style: none;
  padding-left: 0;
  font-family: Arial, sans-serif;
}

.mine-li{
  position: relative;
  padding-left: 1.875rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 1.125rem;
  color: #fff;
  min-height: 1.875rem;
  display: flex;
  align-items: center;
}

.mine-li::before{
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  border: 0.125rem solid #1078D7;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.1);
}

.mine-h3{
  text-transform: uppercase;
  font-weight: 600;
  color: #FFFFFFCC;
  font-size: 1.125rem;
}

.mine-point{
  width: 1.5rem !important;
  height: 1.5rem !important;
  color: #1078D7;
  border-radius: 100rem;
  border: 0.125rem solid #1078D7;
  text-align: center;
}