* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.111vw;
}

body {
  width: 90rem;
  height: fit-content;
  background: linear-gradient(90deg, #00011a, #0f0f0f);
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

a:hover{
	color: #1078d7;
}

button {
  color: #fff;
  background: #1078d7;
}

.logo {
      width: 15rem;
      height: 3.6381rem;
}

header {
  width: 90rem;
  height: 8.625rem;

  .top-bar {
    width: 90rem;
    height: 2.625rem;
    border-bottom: 0.0625rem solid #ffffff26;
    display: flex;
    justify-content: center;

    .top-bar-align {
      display: flex;
      flex-direction: row;
      width: 73.0625rem;
      height: 2.625rem;
      justify-content: space-between;
      align-items: center;
      opacity: 50%;

      .top-bar-elements {
        width: fit-content;
        height: 1.5rem;
        display: flex;
        gap: 0.3125rem;
        align-items: center;

        svg {
          width: 1.5rem;
          height: 1.5rem;
        }

        p {
          width: max-content;
          height: 1.125rem;
          font-weight: 400;
          font-size: 0.8125rem;
          line-height: 141%;
          letter-spacing: 0;
        }
      }
    }
  }

  .main-head {
    width: 73.125rem;
    height: 3.6381rem;
    margin-top: 3.7437rem;
    margin-left: 8.4375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


    nav {
      width: 29.4375rem;
      height: 1.4375rem;
      display: flex;
      gap: 3.5rem;
      align-items: center;

      a {
        width: fit-content;
        height: 1.4375rem;
        font-weight: 400;
        font-size: 1rem;
        line-height: 141%;
        text-decoration: none;
        color: #fff;
      }

      .catalog {
        display: flex;
        gap: 0.375rem;
        align-items: center;

        svg {
          width: 0.625rem;
          height: 0.625rem;
        }
      }
    }

    button {
      width: 7.625rem;
      height: 2.25rem;
      border-radius: 0.25rem;
      border: none;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 141%;
    }
  }
}

.banner {
  width: 65.5rem;
  height: 33.3125rem;
  display: flex;
  gap: 6.75rem;
  margin-top: 5rem;
  margin-left: 8.4375rem;

  .description {
    width: 36.0625rem;
    height: 27.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    margin-top: 1.4375rem;

    h1 {
      width: fit-content;
      height: 11.25rem;
      font-weight: 700;
      font-size: 3.75rem;
      line-height: 100%;
    }

    p {
      width: fit-content;
      height: 8.6875rem;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 150%;
    }

    button {
      width: 14.875rem;
      height: 3.5625rem;
      border-radius: 0.75rem;
      border: none;
      font-size: 1.125rem;
      font-weight: 500;
      letter-spacing: 141%;
    }
  }

  img {
    width: 22.6875rem;
    height: 30.125rem;
  }
}

h2 {
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 97%;
}
.advantages {
  width: 73.125rem;
  height: 40.1875rem;
  display: flex;
  flex-direction: column;
  margin-left: 8.4375rem;
  margin-top: 9.1875rem;

  .adv-grid {
    width: 73.125rem;
    height: 32.625rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    .card {
      width: 35.5625rem;
      height: 15.3125rem;
      background: #121f2380;
      border: 0.125rem solid #121f2380;
      box-shadow: 0.4375rem 0.25rem 1.6938rem #0000000a;
      border-radius: 1.1875rem;
      display: flex;
      flex-direction: column;
      gap: 0.9375rem;
      padding-top: 2.5rem;
      padding-left: 3.125rem;

      .svg-h {
        width: fit-content;
        max-width: 27.75rem;
        height: 4.6875rem;
        display: flex;
        gap: 1.875rem;
        align-items: center;

        svg {
          width: 4.6875rem;
          height: 4.6875rem;
        }

        h4 {
          width: fit-content;
          max-width: 22rem;
          height: 4.375rem;
          font-weight: 600;
          font-size: 1.875rem;
          line-height: 117%;
        }
      }

      p {
        width: 24.5625rem;
        height: 4.6875rem;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 137%;
      }
    }
  }
}

.projects {
  width: 73.125rem;
  height: 45.47rem;
  display: flex;
  flex-direction: column;
  margin-left: 8.4375rem;
  margin-top: 9.1875rem;
  gap: 5.6006rem;

  .grid-projects {
    width: 73.125rem;
    height: 37.3125rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.25rem;

    .project-card {
      width: 23.5625rem;
      height: 37.3125rem;
      padding: 2.3125rem 2.375rem;
      display: flex;
      flex-direction: column;
      background: #121523;
      position: relative;
      border-radius: 1.1875rem;

      img {
        width: 18.8125rem;
        height: 13rem;
        border-radius: 0.75rem;
        margin-bottom: 2.3125rem;
      }

      h3 {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 117%;
        margin-bottom: 1.7463rem;
      }

      .project-text {
        width: 19.25rem;
        height: 13.7831rem;
        display: flex;
        flex-direction: column;
        gap: 1.0606rem;

        p {
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 148%;
        }

        .line {
          width: 19.0625rem;
          border-bottom: 0.0625rem solid #ffffff17;
        }
      }
    }

    .project-card::before {
      content: "";
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      background: linear-gradient(180deg, #fff, #ffffff00);
      border-radius: 1.25rem; /* На 1px больше основного радиуса */
      z-index: -1;
    }

    .project-card::after {
      content: "";
      position: absolute;
      top: 1px;
      left: 1px;
      right: 1px;
      bottom: 1px;
      background: #121523;
      border-radius: 1.1875rem;
      z-index: -1;
    }
  }
}

 b {
          color: #ffffff4a;
          font-weight: 400;
}

footer{
	width: 90rem;
	height: 29rem;
	padding: 5.5625rem 8.4375rem;
	display: flex;

	.centered{
		width: 73.125rem;
		height: 17.875rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		
		.footer-logo{
			width: 15rem;
			height: 10.375rem;
			display: flex;
			flex-direction: column;
			gap: 1.8613rem;

				.footer-logo-text{
					width: 14.8125rem;
					height: 4.875rem;
					display: flex;
					flex-direction: column;
					gap: 0.75rem;

						p{
							width: 14.8125rem;
							font-size: 0.875rem;
							line-height: 141%;
							font-weight: 600;
						}

						.footer-logo-numbers{
							width: 14rem;
								p{
									width: inherit;
									font-weight: 500;
								}
						}
				}
		}
		.H{
			font-weight: 600;
			font-size: 1.125rem;
			line-height: 141%;
		}
		.info{
			display: flex;
			flex-direction: column;
			gap: 1.25rem;
		}
		.info a{
			font-weight: 400;
			font-size: 1rem;
			line-height: 141%;
			color: #ffffffcc;
			text-decoration: none;
		}
		.footer-company{
			width: 6.125rem;
			height: 12.3125rem;
			display: flex;
			flex-direction: column;
			gap: 1.25rem;
		}
		.footer-catalog{
			width: 11.1875rem;
			height: 17.875rem;
			display: flex;
			flex-direction: column;
			gap: 1.25rem;
		}
		.footer-contacts{
			width: 8.5625rem;
			height: 16.625rem;
			display: flex;
			flex-direction: column;
			gap: 1.5625rem;
			.info{
				gap: 1.5625rem;
			}
			.span-gap{
				display: flex;
				flex-direction: row;
				gap: 0.5rem;
				align-items: center;
				svg{
					width: 0.9375rem;
					height: 0.9375rem;
				}
				p, a{
					font-size: 0.875rem;
				}
				.underline{
					text-decoration: underline;
					text-underline-offset: 0.125rem;
				}
			}
			button{
				width: 8.5625rem;
				height: 2.25rem;
				background-color: #1078d7;
				border-radius: 0.25rem;
				border: none;
				font-weight: 500;
				font-size: 0.875rem;
				line-height: 141%;
			}
		}
	}
}

button{transition: 300ms ease-in-out;}
button:hover{
	cursor: pointer;
	background-color: #065eaf;
	box-shadow: 0rem 0rem 1.625rem #d3d3d325;
}
button:active{
	transform: scale(0.98);
	transition: 150ms ease;
}
