@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.111vw;
}

body {
  width: 90rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: -webkit-gradient(linear, left top, right top, from(#00011a), to(#0f0f0f));
  background: linear-gradient(90deg, #00011a, #0f0f0f);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

a:hover {
  color: #1078d7;
}

button {
  color: #fff;
  background: #1078d7;
}

.logo {
  width: 15rem;
  height: 3.6381rem;
}

header {
  width: 90rem;
  height: 8.625rem;
}
header .top-bar {
  width: 90rem;
  height: 2.625rem;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1490196078);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .top-bar .top-bar-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 73.0625rem;
  height: 2.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 50%;
}
header .top-bar .top-bar-align .top-bar-elements {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .top-bar .top-bar-align .top-bar-elements svg {
  width: 1.5rem;
  height: 1.5rem;
}
header .top-bar .top-bar-align .top-bar-elements p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 1.125rem;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 141%;
  letter-spacing: 0;
}
header .main-head {
  width: 73.125rem;
  height: 3.6381rem;
  margin-top: 3.7437rem;
  margin-left: 8.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .main-head nav {
  width: 29.4375rem;
  height: 1.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .main-head nav a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 1.4375rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 141%;
  text-decoration: none;
  color: #fff;
}
header .main-head nav .catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .main-head nav .catalog svg {
  width: 0.625rem;
  height: 0.625rem;
}
header .main-head button {
  width: 7.625rem;
  height: 2.25rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 141%;
}

.banner {
  width: 65.5rem;
  height: 33.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6.75rem;
  margin-top: 5rem;
  margin-left: 8.4375rem;
}
.banner .description {
  width: 36.0625rem;
  height: 27.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
  margin-top: 1.4375rem;
}
.banner .description h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 11.25rem;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 100%;
}
.banner .description p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 8.6875rem;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
}
.banner .description button {
  width: 14.875rem;
  height: 3.5625rem;
  border-radius: 0.75rem;
  border: none;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 141%;
}
.banner img {
  width: 22.6875rem;
  height: 30.125rem;
}

h2 {
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 97%;
}

.advantages {
  width: 73.125rem;
  height: 40.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 8.4375rem;
  margin-top: 9.1875rem;
}
.advantages .adv-grid {
  width: 73.125rem;
  height: 32.625rem;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.advantages .adv-grid .card {
  width: 35.5625rem;
  height: 15.3125rem;
  background: rgba(18, 31, 35, 0.5019607843);
  border: 0.125rem solid rgba(18, 31, 35, 0.5019607843);
  -webkit-box-shadow: 0.4375rem 0.25rem 1.6938rem rgba(0, 0, 0, 0.0392156863);
          box-shadow: 0.4375rem 0.25rem 1.6938rem rgba(0, 0, 0, 0.0392156863);
  border-radius: 1.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
  padding-top: 2.5rem;
  padding-left: 3.125rem;
}
.advantages .adv-grid .card .svg-h {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 27.75rem;
  height: 4.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantages .adv-grid .card .svg-h svg {
  width: 4.6875rem;
  height: 4.6875rem;
}
.advantages .adv-grid .card .svg-h h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 22rem;
  height: 4.375rem;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 117%;
}
.advantages .adv-grid .card p {
  width: 24.5625rem;
  height: 4.6875rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 137%;
}

.projects {
  width: 73.125rem;
  height: 45.47rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 8.4375rem;
  margin-top: 9.1875rem;
  gap: 5.6006rem;
}
.projects .grid-projects {
  width: 73.125rem;
  height: 37.3125rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem;
}
.projects .grid-projects .project-card {
  width: 23.5625rem;
  height: 37.3125rem;
  padding: 2.3125rem 2.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #121523;
  position: relative;
  border-radius: 1.1875rem;
}
.projects .grid-projects .project-card img {
  width: 18.8125rem;
  height: 13rem;
  border-radius: 0.75rem;
  margin-bottom: 2.3125rem;
}
.projects .grid-projects .project-card h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 117%;
  margin-bottom: 1.7463rem;
}
.projects .grid-projects .project-card .project-text {
  width: 19.25rem;
  height: 13.7831rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.0606rem;
}
.projects .grid-projects .project-card .project-text p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 148%;
}
.projects .grid-projects .project-card .project-text .line {
  width: 19.0625rem;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.0901960784);
}
.projects .grid-projects .project-card::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0));
  border-radius: 1.25rem; /* На 1px больше основного радиуса */
  z-index: -1;
}
.projects .grid-projects .project-card::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background: #121523;
  border-radius: 1.1875rem;
  z-index: -1;
}

b {
  color: rgba(255, 255, 255, 0.2901960784);
  font-weight: 400;
}

footer {
  width: 90rem;
  height: 29rem;
  padding: 5.5625rem 8.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .centered {
  width: 73.125rem;
  height: 17.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .centered .footer-logo {
  width: 15rem;
  height: 10.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.8613rem;
}
footer .centered .footer-logo .footer-logo-text {
  width: 14.8125rem;
  height: 4.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}
footer .centered .footer-logo .footer-logo-text p {
  width: 14.8125rem;
  font-size: 0.875rem;
  line-height: 141%;
  font-weight: 600;
}
footer .centered .footer-logo .footer-logo-text .footer-logo-numbers {
  width: 14rem;
}
footer .centered .footer-logo .footer-logo-text .footer-logo-numbers p {
  width: inherit;
  font-weight: 500;
}
footer .centered .H {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 141%;
}
footer .centered .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}
footer .centered .info a {
  font-weight: 400;
  font-size: 1rem;
  line-height: 141%;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
footer .centered .footer-company {
  width: 6.125rem;
  height: 12.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}
footer .centered .footer-catalog {
  width: 11.1875rem;
  height: 17.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}
footer .centered .footer-contacts {
  width: 8.5625rem;
  height: 16.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5625rem;
}
footer .centered .footer-contacts .info {
  gap: 1.5625rem;
}
footer .centered .footer-contacts .span-gap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .centered .footer-contacts .span-gap svg {
  width: 0.9375rem;
  height: 0.9375rem;
}
footer .centered .footer-contacts .span-gap p, footer .centered .footer-contacts .span-gap a {
  font-size: 0.875rem;
}
footer .centered .footer-contacts .span-gap .underline {
  text-decoration: underline;
  text-underline-offset: 0.125rem;
}
footer .centered .footer-contacts button {
  width: 8.5625rem;
  height: 2.25rem;
  background-color: #1078d7;
  border-radius: 0.25rem;
  border: none;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 141%;
}

button {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: #065eaf;
  -webkit-box-shadow: 0rem 0rem 1.625rem rgba(211, 211, 211, 0.1450980392);
          box-shadow: 0rem 0rem 1.625rem rgba(211, 211, 211, 0.1450980392);
}

button:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: 150ms ease;
  transition: 150ms ease;
}