@import "tailwindcss";

 :root {
  --box-shadow: 0.4375rem 0.25rem 1.6938rem #0000000A;
  --gradient-border: linear-gradient(45deg, #FFFFFF, #FFFFFF00);
}
/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

*{
	/* margin: 0;
	padding: 0; */
	box-sizing: border-box;
}

html{
	font-size: 0.833vw;
	overflow-x: hidden;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
	width: 100vw;
	height: fit-content;
	min-height: 67.5rem;
  background: linear-gradient(90deg, #00011A, #0F0F0F);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.H1{
	font-weight: 700;
	font-size: 2.625rem;
	line-height: 97%;
}

.line{
	width: 100%;
	height: 0.0625rem;
	background-color: #FFFFFF17;
}